#homemain{
width:800;
height:600px;
padding-top:25px;
padding-left:63px;
padding-right:71px;
padding-bottom:46px;
}

#col1,#col2{
float:left;
}

#col1{
width:504px;
height:600px;
padding-right:20px;
}

#col2{
width:276px;
height:600px;
}

#video{
height:345;
width:504px;
margin-bottom:25px;
background-color:#2b2b2b;
}

#galeria{
height:80px;
padding:10px;
width:484px;
margin-bottom:23px;
background-color:#2b2b2b
}

#publicidad1{
height:108px;
width:504px;
background-color:#2b2b2b
}

#flechar,#flechal{
background-image:url('/views/images/flecha.png');
width:11px;
height:24px;
cursor:pointer;
}

#flechar{
background-position:11px 0px;
}

#flechal{
background-position:0px 0px;
}

#flechar:hover{
background-position:11px 24px;
}

#flechal:hover{
background-position:0px 24px;
}

.episodio{
height:82px;
width:82px;
cursor:pointer;
float:left;
}

#episodios{
float:left;background-color:white;
}

.ytthumb{
float:left;
margin-left:14px;
width:97px;
height:82px;
background-color:#ffffff;
background-position:center;
cursor:pointer;
}


